// Base
$font-family-base: "Poppins", sans-serif;

// Body
$body-color: $purple1000;

// Headers
$headings-color: $body-color;

// Enable RFS
$enable-responsive-font-sizes: true;
$font-size-base: 1rem;
$h2-font-size: 2rem;

// Font smoothing
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  line-height: 1.1 !important;
}
