.card-review {
  border-radius: 10px;
  box-shadow: 4px 4px 15px 0 rgba(0,0,0,0.2);
  padding: 20px;

  // align-items: center;
  // justify-content: space-around;
  // font-weight: bolder;
}

.card-user {
  background: #fff9ff;
  border: solid 1px $purple100;
}
