<% if PartnerExternalAccountProvider::Providers::ALL.any? %>
  <div class="modal fade" id="externalAccountsLink" tabindex="-1" aria-labelledby="externalAccountsLinkLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="externalAccountsLinkLabel">Choisissez le type de compte à lier</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <% PartnerExternalAccountProvider::Providers::ALL.each do |provider_id, service_name| %>
            <div class="p-3">
              <%= link_to image_tag("openid/#{provider_id}.png", alt: "#{service_name}", height: 60), public_send("partner_#{provider_id}_omniauth_authorize_path"), method: :post %>
            </div>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
<% end %>