<div class="container">
  <div class="d-flex align-items-center flex-column my-4 my-lg-5">
    <h4 class="text-center">
      Vous souhaitez vous désinscrire de Covidliste en supprimant votre compte ?
    </h4>
    <%= button_to "Supprimer mon compte", slot_alerts_users_path(token: @alert.token),
      method: :delete,
      id: dom_id(@alert.user, :delete),
      class: "btn btn-outline-danger btn-lg mt-4",
      data: {
        confirm: "En confirmant, votre compte ainsi que toutes les données associées seront supprimées de nos serveurs. Êtes-vous sûr ?"} %>
  </div>
</div>
