<%= content_for(:append_to_head) do %>
  <meta name="robots" content="<%= (@seo_page.indexable? ? "index" : "noindex") + ", " + (@seo_page.crawlable? ? "follow" : "nofollow") %>" />
<% end %>

<div class="container">
  <div class="mt-5 pb-3">
    <h1><%= @seo_page.title %></h1>
    <div class="mt-4 px-4 py-3 border">
      <%= @seo_page.content %>
    </div>
  </div>
</div>
  
