.row.mtop2
  .col-12
    %p
      %strong
        Qu'est ce que Covidliste ?
    %P
      Covidliste est une application gratuite permettant d'être alerté lorsqu'une dose de vaccin est disponible près de chez vous.
      #{@users_count} volontaires sont déjà inscrits.

    %p
      %strong Pourquoi ce projet ?

    %p
      Certains vaccins (comme Pfizer/BioNTech) administrés dans des centres de vaccination nécessitent de respecter une chaîne logistique complexe. Lorsqu'un patient rate un rendez-vous, le flacon déjà ouvert doit être consommé rapidement. Covidliste permet de faciliter l'accès à une liste de volontaires pour des centres de vaccination.

    %p
      %strong Comment ça marche ?

    %p
      Entrez vos informations et validez votre inscription. Lorsqu'une dose est disponible, un lien vous est envoyé. À la confirmation, vous êtes mis en relation avec un centre de vaccination. Attention si vous ne validez pas rapidement votre demande, cette dose sera attribuée à un prochain volontaire.

    %p
      %strong Je ne suis pas encore éligible. Je peux tout de même m'inscrire?

    %p Oui.

    %p
      %strong Qui est derrière Covidliste ?

    %p
      =link_to 'Martin', 'https://twitter.com/martindaniel4', target: '_blank'
      et
      =link_to 'Mathieu', 'https://twitter.com/mathieurip', target: '_blank'
      ont conçu l'application, en collaboration avec
      =link_to 'Dr Jad Choucair', 'https://pubmed.ncbi.nlm.nih.gov/?term=Choucair+J&cauthor_id=27638725', target: '_blank'
      et
      =link_to 'Dr Antoine Roux', 'https://www.paristransplantgroup.org/antoine-roux.html', target: '_blank'
      de l'hôpital Foch.

    %p
      %strong Qu'en est-il du traitement de mes données ?

    %p
      En vous inscrivant à Covidliste, vous acceptez que vos données soient partagées avec les centres de vaccination partenaires. Si vous vous êtes inscrit et souhaitez supprimer vos données, merci d'écrire à
      =link_to 'covidlist@protonmail.com', 'mailto:covidlist@protonmail.com'

    %p
      %strong Comment entrer en contact avec vous ?

    %p
      Vous pouvez nous écrire par email à
      =link_to 'covidlist@protonmail.com', 'mailto:covidlist@protonmail.com'
