<p class="mt-3 mb-0">
    Hostolab traite les données recueillies pour vous mettre en relation avec un établissement de vaccination.
    Toutes les informations demandées sont nécessaires à la mise en relation.
    <br>
    <%= link_to "En savoir plus sur la gestion de vos données et vos droits", privacy_volontaires_path %>.
</p>
