<% unless local_hide_first %>
<p class="text-primary small">
Toutes les informations demandées sont nécessaires à Hostolab, en tant que responsable de traitement, pour que vous puissiez bénéficier du service proposé. A défaut de les fournir, vous ne pourrez pas en bénéficier. 
</p>
<% end %>

<p class="text-primary small">
Conformément à la réglementation applicable, vous disposez d’un droit d’accès, de rectification, de suppression et, le cas échéant, de portabilité de vos données personnelles. Vous pouvez également vous opposer au traitement de vos données et, le cas échéant, en demander la limitation. Vous pouvez, à tout moment, retirer votre consentement lorsque celui-ci vous a été demandé. Vous pouvez enfin définir des directives relatives au sort de vos données en cas de décès. Ces droits peuvent être exercés directement auprès de Hostolab par email à l’adresse suivante : <%= mail_to "privacy@covidliste.com" %>. Au besoin, vous bénéficiez du droit d’introduire une réclamation auprès de la CNIL.
</p>

<p class="text-primary small">
Pour en savoir plus sur l’utilisation de vos données personnelles, veuillez consulter la <%= link_to "politique de protection des données personnelles", local_privacy_path %>.
</p>
