<p class="mt-3 text-white small text-justify">
    Toutes les informations demandées sont nécessaires à notre association, Hostolab,
    pour vous mettre en relation avec un établissement de vaccination.
    A défaut de les fournir, nous ne pourrons pas accéder à votre demande.
    <%= link_to "En savoir plus sur la gestion de vos données et vos droits", privacy_volontaires_path, class: "text-white font-weight-bold text-decoration-underline" %>.
</p>
