<%= content_for(:append_to_head) do %>
  <meta content="index;follow" name="robots"/>
<% end %>

<div class="container my-5">
  <div class="row">

    <div class="col-12 mb-md-5 d-flex align-items-start">
      <%= icon("far", "user", class: "icon-theme icon-theme--lg mr-4 d-none d-md-inline-flex") %>
      <h1 class="h3 font-weight-bolder mb-3" style="max-width: 680px;">Vous êtes un particulier et souhaitez être alerté si une dose est disponible, inscrivez-vous</h1>
    </div>

    <div class="col-12 col-md-6 col-lg-5 order-1 order-sm-0">
      <%= render "form" %>
    </div>

    <div class="col-12 col-md-6 col-lg-7 order-0 order-sm-1">
      <%= render "about" %>
    </div>

  </div>
</div>
