<div class="container">
  <div class="row mt-5 pb-3">
    <div class="col-12 col-md-6 col-lg-5">
      <%= render "edit" %>
    </div>

    <div class="col-12 col-md-6 col-lg-7">
      <%= render "about" %>
    </div>
  </div>
</div>
