#devise
  .row.mtop2
    .col-sm-12.col-md-8.col-lg-6
      %p 
        %strong Demande de mot de passe
        = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
          %p
            Veuillez saisir votre adresse email afin de recevoir un lien pour créer ou changer votre mot de passe.
          = f.input :email, autofocus: true, required: true, id: 'inputEmail', class: 'bp3-input bp3-fill bp3-large'
          %p.mtop2
            = f.submit 'Recevoir le lien', class: 'btn btn-primary'
