<% if @match.confirmed? %>
  <div class="container">
    <div class="d-flex align-items-center flex-column my-4 my-lg-5">
      <h4 class="text-center mb-4">
        Vous avez confirmé votre rendez-vous.
      </h4>
      <p class="alert alert-info">
        Vous ne pouvez pas supprimer vos informations actuellement car vous avez confirmé un rendez-vous de vaccination.
        <br>
        Votre profil sera anonymisé quelques jours après le RDV.
      </p>
    </div>
  </div>
<% else %>
  <%= render partial: "users/confirm_destroy_message", locals: { user: @match.user } %>
<% end %>
