<div class="row my-3">
  <% supporters.each do |supporter| %>
    <div class="col-6 col-lg-2 text-center mb-5">
      <div data-toggle="tooltip" data-placement="top" title="<%= supporter["username"] %>">
        <div>
          <%= image_tag supporter["avatar"]["versions"]["128x128"]["url"], height: supporter["avatar"]["versions"]["128x128"]["height"], width: supporter["avatar"]["versions"]["128x128"]["width"], loading: "lazy", class: "rounded-circle border", alt: supporter["name"] %>
        </div>
        <div class="mt-3"><%= supporter["name"] %></div>
      </div>
    </div>
  <% end %>
</div>
