<%= content_for(:append_to_head) do %>
<meta content="index;follow" name="robots"/>
<% end %>

<div class="container my-5">
  <p>
    <strong>
      Algorithme de sélection des volontaires
    </strong>
  </p>

  <%= @faq_item.body %>

</div>
