<%= content_for(:append_to_head) do %>
<meta content="index;follow" name="robots"/>
<% end %>

<div class="container my-5">
  <h1>Algorithme de sélection des volontaires</h1>

  <%= @faq_item.body %>
</div>
