<%= content_for(:append_to_head) do %>
<meta content="index;follow" name="robots"/>
<% end %>

<div class="container my-5" id="faq">
  <h1>Bénévoles</h1>

  <p class="mt-4">
    Covidliste est une initiative bénévole et citoyenne qui a vu le jour il y a quelques semaines pour accélérer la
    campagne nationale de vaccination contre la COVID-19 en distribuant les doses sur le point d'être jetées.
  </p>

  <p>
    Nous avons besoin de bénévoles pour venir renforcer nos rangs 💪
  </p>

  <p class="my-4">
    <%= link_to "Postuler pour devenir bénévole", "https://form.typeform.com/to/UlzdGjLV", class: "btn btn-primary", target: "_blank", rel: "noopener" %>
  </p>

  <strong>Exemples de missions :</strong>
  <ul>
    <li>
      Contribuer au développement de la plateforme technologique
    </li>
    <li>
      Travailler sur les interfaces pour que le produit soit utilisable facilement par tout le monde
    </li>
    <li>
      Valider les nouveaux centres de vaccination partenaires
    </li>
    <li>
      Faire connaître le service covidliste auprès de nouveaux centres
    </li>
    <li>
      ...
    </li>
  </ul>

  <strong>Voici des exemples d'engagements de certains de nos bénévoles :</strong>
  <ul>
    <li>
      3h00 le mardi matin
    </li>
    <li>
      1h00 le mercredi après-midi, jeudi après-midi et vendredi après-midi
    </li>
    <li>
      tout le lundi après-midi
    </li>
    <li>
      3 heures le dimanche matin
    </li>
    <li>
      ....
    </li>
  </ul>

  <p class="mt-5">
    Si vous êtes développeur, vous pouvez également apporter votre aide en collaborant sur le
    <%= link_to "GitHub du projet", "https://github.com/hostolab/covidliste", target: "_blank", rel: "noopener" %>.
  </p>
</div>
