<%= content_for(:append_to_head) do %>
<meta content="index;follow" name="robots"/>
<% end %>

<div class="container my-5">
  <h1>Bénévoles</h1>

  <p>Covidliste est une initiative bénévole et citoyenne qui a vu le jour Il y a quelques semaines pour accélérer la campagne nationale de vaccination contre le Covid19 en distribuant les doses sur le point d'être jetées.</p>

  <p>Nous avons besoin de bénévoles pour venir renforcer nos rangs 💪</p>

  <p>Exemples de missions :</p>

  <ul>
    <li>Contribuer au développement de la plateforme technologique</li>
    <li>Travailler sur les interfaces pour que le produit soit utilisable facilement par tout le monde</li>
    <li>Valider les nouveaux centres de vaccination partenaires</li>
    <li>Faire connaître le service covidliste auprès de nouveaux centres</li>
    <li>etc.</li>
  </ul>

  <p>Voici des exemples d'engagements de certains de nos bénévoles :</p>

  <ul>
    <li>3h00 le mardi matin</li>
    <li>1h00 le mercredi après-midi, jeudi après-midi et vendredi après-midi</li>
    <li>tout le lundi après-midi</li>
    <li>3 heures le dimanche matin</li>
    <li>etc.</li>
  </ul>

  <h2>Postuler</h2>

  <p>Pour postuler, merci de remplir le formulaire ci-dessous 👇</p>

  <div class="typeform-widget" data-url="https://form.typeform.com/to/UlzdGjLV?typeform-medium=embed-snippet" style="width: 100%; height: 700px;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
</div>
