<%= content_for(:append_to_head) do %>
  <meta content="index;follow" name="robots"/>
  <%= javascript_pack_tag "maps", "data-turbolinks-track": "reload", defer: !Rails.env.test?, nonce: true %>
<% end %>

<style>
  #map-container {
    height: 500px;
    position: relative; /* used to set a reference for the children */
  }

  #map, #deck-canvas {
    /* children will take the full space of the container */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>

<div class="container my-5">
  <h1>Carte des lieux de vaccination inscrits sur Covidliste</h1>
  <p><%= @vaccination_centers.count %> lieux de vaccination sur Covidliste et des volontaires dans tous les départements</p>

  <div
    data-controller="map"
    data-map='<%=
      objects = {
        'vaccinationCenters' => @vaccination_centers,
        'usersByDept' => @users_by_dept
      }
      objects.to_json
    %>'
  >
    <small>
      <div id="territoire-container" class="container my-3 row">
      </div>
    </small>
    <div id="map-container">
      <div id="map"></div>
      <canvas id="deck-canvas"></canvas>
    </div>
  </div>
</div>
