.row.mtop2
  .col-sm-12.col-md-8.col-lg-6
    %p
      %strong Mentions Légales

    %p.text-justify
      Le présent site (ci-après « COVIDLISTE ») est hébergé par la société #{link_to "SCALINGO SAS", "https://scalingo.com/fr"} dont le siège social est sis 15 avenue du Rhin 67100 Strasbourg FRANCE (SIRET 80866548300018).
      
    %p.text-justify
      Directeur de la publication (éditeur) : Martin DANIEL
    
    %p.text-justify
      Les liens hypertextes mis en place en direction d’autres sites ne sauraient engager la responsabilité de l’éditeur, notamment s’agissant du contenu de ces sites. L’éditeur n’est pas responsable des liens hypertextes qui mènent au site COVIDLISTE et interdit à quiconque de mettre en place un tel lien sans son autorisation écrite préalable.
      Toutes les informations et données diffusées dans ce site internet ne sont fournies qu’à titre indicatif.
      En conséquence, l’éditeur décline toute responsabilité quant au contenu, à l’exactitude, à la complétude et à l’actualité de ces informations et données. L’éditeur ne pourra voir sa responsabilité engagée du fait de la présence de virus sur son site.

    %p.text-justify
      Pour toute information relative à la protection des données personnelles, vous pouvez vous référer à la politique de protection suivante : 
      = link_to 'www.covidliste.com/privacy', :privacy
