.row.mtop2
  .col-sm-12.col-md-8.col-lg-8
    %p
      %strong Protection des données
    %p
      Date de dernière révision de la présente politique de confidentialité : 02 avril 2021
    %h3
      Préambule
    %p
      Dans le cadre du présent site internet (ci-après « COVIDLISTE »), Martin DANIEL, en qualité de responsable de traitement, est amené à traiter vos données à caractère personnel.
      %br
      Ces traitements sont réalisés conformément à la législation en vigueur, notamment le Règlement (UE) 2016/679 du Parlement Européen et du Conseil du 27 avril 2016, règlement général sur la protection des données (RGPD) et la Loi n°78-17 du 6 janvier 1978, loi informatique et libertés (LIL), modifiée.
      %br
      COVIDLISTE s’engage à respecter la vie privée et à protéger les données à caractère personnel collectées et traitées lors de votre navigation sur notre Site.
      %br
      Plus particulièrement, COVIDLISTE prend soin de collecter uniquement les données strictement nécessaires, de façon loyale et transparente, pour des finalités déterminées, explicites et légitimes et à ne pas les réutiliser à des fins incompatibles celles initialement prévues.
      COVIDLISTE met en œuvre des mesures techniques et organisationnelles afin de garantir l’exactitude, la mise à jour, la rectification ou l’effacement des données.
      Enfin, COVIDLISTE s’engage à respecter les durées de conservation des données personnelles collectées ainsi que les obligations relatives aux transferts transfrontaliers de données à caractère personnel lorsqu’ils existent.

    %h3
      DEFINITIONS
    %p
      %strong Donnée à caractère personnel :
      toute information permettant d’identifier, directement ou indirectement, une personne physique.
      %br
      %strong Traitement :
      toute opération ou ensemble d’opérations appliquées à des données à caractère personnel (exemples : la collecte, l’enregistrement, l’organisation, la consultation, l’extraction, l’effacement, la destruction).
      %br
      %strong Responsable de traitement :
      la personne physique ou morale, l’autorité publique, le service ou un autre organisme qui détermine les finalités et les moyens de traitements.
      %br
      %strong Personne concernée : personne dont les données à caractère personnel sont traitées.

    %h3
      OBLIGATIONS DU RESPONSABLE DE TRAITEMENT

    %p
      %strong Communication sur l'identité du responsable de traitement
      Le responsable de traitement est : Martin DANIEL
      %br
      %strong Désignation d'un délégué à la protection des données (DPD)
      Le Délégué à la protection des données de COVIDLISTE est en cours de désignation.
      Il a notamment pour mission d’informer et conseiller le responsable de traitement. Toute demande relative à la protection des données à caractère personnel peut être envoyée à privacy@covidliste.com
      %br
      %strong Mesures de sécurité
      COVIDLISTE met en place des mesures de sécurité techniques et organisationnelles afin de protéger les données à caractère personnel traitées.
      Toute faille de sécurité détectée peut être signalée par courriel à ssi@covidliste.com .
      %br

      %h3
        INFORMATION DES PERSONNES DONT LES DONNÉES SONT TRAITÉES
      %p
        COVIDLISTE vous informent lors de la collecte :
        %br
        De la finalité de la collecte :
        %br
        Traitement 1 : en vue de constituer des listes de volontaires à la vaccination pour réduire le taux de perte de doses vaccinales.
        %br
        Traitement 2 : assurer le partage des informations avec les centres de vaccination partenaires pour lesquels les personnes concernés ont consenti
        %br
        Traitement 3 : gestion des comptes utilisateurs.
        %br
        De la base légale du traitement des données :
        %br
        Traitement 1 : consentement
        %br
        Traitement 2 : consentement
        %br
        Traitement 3 : consentement

        Du caractère obligatoire ou facultatif de la collecte :
        %br
        Traitement 1 : la finalité implique de fournir les données à caractère personnel en vue de bénéficier  du service.
        %br
        Traitement 2 : la finalité implique de fournir les données au destinataire (centre de vaccination) en vue de l’administration effective d’une dose restante.
        %br
        Traitement 3 : la finalité implique de fournir les données en vue de pouvoir gérer directement ses données au sein de l’espace.
        %br
        Des destinataires des données :
        %br
        Traitement 1 : gestionnaires de la plateforme COVIDLISTE
        %br
        Traitement 2 : gestionnaires de la plateforme COVIDLISTE et les centres de vaccination partenaires (si la personne concernée a consenti à ce partage)
        %br
        Traitement 3 : gestionnaires de la plateforme COVIDLISTE
        %br
        Du transfert éventuel de données hors de l’UE : non-prévu à ce jour.

        De vos droits sur vos données et du droit d’introduire une réclamation auprès de la CNIL : voir ci-après.



      %h3 COOKIES

      %p
        %strong 1 – Qu’est-ce qu’un cookie ?
        Lors de votre visite sur COVIDLISTE, un témoin de connexion (« cookie ») peut s’installer automatiquement sur votre logiciel de navigation, sous réserve des choix exprimés modifiables à tout moment. Un cookie est généralement transmis par le serveur d’un site à votre navigateur.
        %br
        La CNIL définit le cookie comme un petit fichier stocké par un serveur dans le terminal (ordinateur, téléphone, etc.) d’un utilisateur et associé à un domaine web (c’est à dire dans la majorité des cas à l’ensemble des pages d’un même site web). Ce fichier est automatiquement renvoyé lors de contacts ultérieurs avec le même domaine.
        %br
        Il contient plusieurs données, notamment le nom du serveur qui l’a déposé, un identifiant sous forme de numéro unique, les pages et onglets sur lesquels vous avez cliqué, le type de navigateur que vous utilisez et une date d’expiration. Les cookies ont différentes fonctionnalités, par exemple l’enregistrement des informations relatives à la navigation de l’utilisateur sur le site (mesure d’audience, etc.).
        Seul l’émetteur d’un cookie est susceptible de lire, enregistrer ou modifier les informations qu’il contient.
        %br
        En poursuivant votre lecture vous serez informé sur les cookies qui sont susceptibles d’être déposés sur votre terminal ainsi que sur les modalités d’exercer vos préférences de paramétrage.
        %br
        2 – Quels sont les cookies et/ou traceurs présents sur COVIDLISTE ?
        En l’état de la construction de COVIDLISTE, seul un cookie “covidliste_session” est répertorié.
        Il s’agit d’un cookies technique visant à permettre l'authentification et de protéger le site contre les attaques de type “cross-site request forgery”, abrégé CSRF.
        Il rentre dans la catégorie “traceurs destinés à l'authentification auprès d'un service, y compris ceux visant à assurer la sécurité du mécanisme d'authentification, par exemple en limitant les tentatives d'accès robotisées ou inattendues”.
        3 – Mise à jour de la rubrique cookies
        COVIDLISTE peut procéder à tout moment à la mise à jour de la présente rubrique relative aux Cookies. En conséquence, l’utilisateur est invité à se référer régulièrement à la présente rubrique.


      %h3
        DROITS DES PERSONNES DONT LES DONNÉES SONT TRAITÉES :

      %p
      Conformément au Règlement (UE) 2016/679 du Parlement Européen et du Conseil du 27 avril 2016, règlement général sur la protection des données (RGPD) et la Loi n°78-17 du 6 janvier 1978, loi informatique et libertés (LIL), modifiée, vous avez un droit d’accès, de rectification, d’effacement, d’opposition, de limitation du traitement, de portabilité des données, de faire une réclamation auprès de la CNIL et de définir des directives relatives au sort de vos données après votre décès.
      %br
      %strong Le droit d'accès
      Vous pouvez demander la communication de vos données à caractère personnel.
      COVIDLISTE peut ne pas donner suite, notamment lorsque votre demande est infondée ou excessive ou porte atteinte au droit des tiers.
      %br
      %strong Le droit de rectification
      Vous pouvez demander la correction de vos données à caractère personnel qui sont inexactes ou incomplètes.
      Le droit à l'effacement ("droit à l'oubli")
      Vous pouvez demander l’effacement de données à caractère personnel vous concernant, à condition d’être dans l’un des cas suivants :
      Vos données ne sont plus nécessaires au regard des objectifs du traitement établis au départ
      Vous retirez votre consentement à l’utilisation de vos données (dans les cas où le traitement est fondé sur votre consentement)
      Vos données ont été collectées lorsque vous étiez mineur dans le cadre de la société de l’information
      Vos données font l’objet d’un traitement illicite
      Vos données doivent être effacées pour respecter une obligation légale
      Vous vous opposez au traitement de vos données et il n’existe pas de motif légitime impérieux pour le traitement
      Il est important d’indiquer précisément les données dont vous demandez l’effacement.
      %br
      %strong Le droit à l'opposition
      Vous pouvez vous opposer à un traitement qui est effectué pour un objectif précis. Vous devez mettre en avant "des raisons tenant à votre situation particulière".
      Votre demande d’opposition peut être refusée, notamment lorsque :
      Des motifs légitimes et impérieux à traiter vos données existent
      Vos données sont nécessaires à la constatation, à l’exercice ou à la défense de droits en justice
      Une obligation légale impose de traiter vos données
      Vous avez consenti – vous devez retirer votre consentement et non vous opposer
      %br
      %strong Le droit à la limitation du traitement
      Vous pouvez demander de geler temporairement l’utilisation de certaines de vos données.
      Si vous contestez l’exactitude de vos données ou que vous vous opposez à ce que vos données soient traitées, la loi nous autorise à procéder à une vérification ou à l’examen de votre demande pendant un certain délai.
      %br
      %strong Le droit à la portabilité des données
      Vous pouvez demander à récupérer une partie de vos données dans un format lisible par une machine.
      %br
      Ce droit s’applique :
      Aux données que vous avez fournies
      Dont le traitement repose sur votre consentement
      Dont le traitement est automatisé
      L’exercice de ce droit ne doit pas porter atteinte aux droits et libertés de tiers.
      %br
      %strong Le droit de faire réclamation auprès de la CNIL
      Si vous estimez, après nous avoir contactés, que vos droits ne sont pas respectés, vous pouvez adresser une réclamation auprès de la CNIL.
      %br
      %strong Le droit de choisir le sort de vos données après votre décès
      Conformément à l’article 85 de la Loi Informatique et Libertés, modifiée : "toute personne peut définir des directives relatives à la conservation, à l'effacement et à la communication de ses données à caractère personnel après son décès".
      Les directives peuvent être générales ou particulières :
      Les directives générales sont relatives à l’ensemble des données à caractère personnel de la personne concernée. Elles peuvent être enregistrées auprès d’un tiers de confiance numérique certifié par la CNIL.
      Les directives particulières sont relatives aux traitements de données à caractère personnel mentionnées par ces directives. Elles sont enregistrées auprès des responsables de traitement concernés. La personne concernée doit donner un consentement spécifique. Les directives particulières ne peuvent résulter de la seule approbation de conditions générales d’utilisation.



    %h3
      EXERCICE DE VOS DROITS

    %p
      %strong Pour exercer vos droits :

      Par mail à l’adresse du délégué à la protection des données  privacy@covidliste.com (en cas de doute sur votre identité, une pièce d’identité numérisée pourra vous être demandée)
      %br
      COVIDLISTE vous répondra, en principe, dans un délai de 1 mois à compter de la réception de la demande. Mais par exception, ce délai sera prolongé jusqu’à 3 mois en cas de demande complexe ou s’il existe un grand nombre de demandes en cours. Vous serez informé(e) pendant le délai de 1 mois des raisons de l’éventuelle prolongation du délai.
      %br








