<div>
  <p>
    Bonjour,<br>
    Nous venons de valider votre centre de vaccination sur Covidliste.<br>
    Vous allez pouvoir démarrer la création d’une campagne de mise en relation.
    La création de campagne prend moins de 5 minutes.<br>
    Découvrez les quelques étapes à suivre dans notre tutoriel.
    N’hésitez pas à nous contacter si vous avez besoin d’assistance,<br>
    Merci,
  </p>

  <%= render "mailer/footer" %>

</div>
