.form-check {
  display: flex;
  align-items: center;
  padding: 0;
}

.form-check-input {
  position: relative;
  margin: 0;
  -webkit-appearance: none;
  width: 1.7rem;
  flex-shrink: 0;
  height: 1.7rem;
  border: 1px solid $gray-600;
  border-radius: 0.25rem;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-color 0.2s ease-out;
  margin-right: 0.5rem;

  &:checked {
    background-color: $blue;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8.5l2.5 2.5l5.5 -5.5'/%3e%3c/svg%3e");
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 1px 2px lighten($blue, 20%);
  }
}
