.row.mtop2
  .col-12
    %h2 Espace admin

    %p.mtop2
      %strong
        Bonjour #{@user.full_name}
    %p
      =link_to 'Centres de vaccination', admin_vaccination_centers_path
    %p
      =link_to 'Recherche de volontaires', admin_admin_search_path
