<div class="container">
  <h2>
    Espace admin
  </h2>

  <p class="mt-2">
    <strong>
      Bonjour <%= current_user.full_name %> 👋
    </strong>
  </p>
  <p>
    <%= link_to "Centres de vaccination", admin_vaccination_centers_path %>
  </p>
</div>
