<p>
  Pour toutes vos questions, n’hésitez pas à consulter notre
  <%= link_to "Foire aux questions,", "https://www.covidliste.com/faq" %>
  où vous pourrez retrouver toutes nos réponses aux questions les plus fréquentes.
</p>
