%table.footer-wrap
  %tr
    %td.container{:style => "border: none; color: #fff" }
      .content
        %table
          %tr
            %td{:align => "center"}
              %p
                = link_to "Covidliste", "https://www.covidliste.com", :style => "color: #999"
                %a{:href => "mailto:covidlist@protonmail.com", :style => "color: #999; margin-left:10px;"} covidlist@protonmail.com
