<p>
  L'équipe Covidliste
  <br>
  <%= link_to "https://www.covidliste.com", "https://www.covidliste.com", style: "color: #333"%>
   - <%= link_to "Twitter", "https://twitter.com/covidliste" %>
   - <%= link_to "Facebook", "https://www.facebook.com/covidliste" %>
   - <%= link_to "Instagram", "https://www.instagram.com/covidliste/" %>
</p>
