%p
  Pour toute question ou si vous pensez que ce mail est une erreur merci de contacter
  =link_to "hello@covidliste.com", "mailto:hello@covidliste.com"

%p
  = link_to "https://www.covidliste.com", "https://www.covidliste.com", :style => "color: #333"
