<p>
  Pour toutes vos questions, n’hésitez pas à consulter notre
  <%= link_to "Foire aux questions,", "https://www.covidliste.com/faq" %>
  où vous pourrez retrouver toutes nos réponses aux questions les plus fréquentes.
</p>

<p>
  <%= link_to "https://www.covidliste.com", "https://www.covidliste.com", style: "color: #333"%>
</p>

<p>
  Ceci est un email automatique, merci de ne pas y répondre.
</p>