:css
  body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 100%;
    line-height: 1.6;
    background-color: #fff;
  }

  img {
    max-width: 100%;
  }
  body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    width: 100% !important;
    height: 100%;
  }
  .mtop1{margin-top:10px;}
  .mtop2{margin-top:20px;}
  .mtop3{margin-top:30px;}
  .mtop4{margin-top:40px;}

  .padding {
    padding: 20px 0 !important;
  }

  .bp3-button {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px 10px;
    vertical-align: middle;
    text-align: left;
    font-size: 14px;
    line-height: 30px;
    min-width: 30px;
    min-height: 30px;
    box-shadow: inset 0 0 0 1px rgba(16,22,26,0.4), inset 0 -1px 0 rgba(16,22,26,0.2);
    background-color: #0f9960;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.1), rgba(255,255,255,0));
    color: #ffffff !important;
  }

  .bp3-button:hover {
    text-decoration: none !important;
    box-shadow: inset 0 0 0 1px rgba(16,22,26,0.2), inset 0 -1px 0 rgba(16,22,26,0.1);
    background-clip: padding-box;
    background-color: #0d8050;
    color: #ffffff !important;
  }

  table.body-wrap {
    width: 100%;
    padding: 10px;
  }
  table.body-wrap .container {
    border: 1px solid #f0f0f0;
  }

  table.footer-wrap {
    width: 100%;
    clear: both!important;
  }
  .footer-wrap .container p {
    font-size: 12px;
    color: #111;

  }
  table.footer-wrap a {
    color: #666;
  }

  h1, h2, h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    line-height: 1.1;
    margin-bottom: 15px;
    color: #000;
    margin: 10px 0 10px;
    line-height: 1.2;
    font-weight: 200;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 28px;
    font-weight: 400;
  }
  h3 {
    font-size: 22px;
  }
  p, ul, ol {
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 14px;
  }
  ul li, ol li {
    margin-left: 5px;
    list-style-position: inside;
  }

  .container {
    display: block!important;
    max-width: 800px!important;
    margin: 0 auto!important; /* makes it centered */
    clear: both!important;
  }

  .body-wrap .container {
    padding: 10px 20px 10px 20px;
  }

  .content {
    max-width: 800px;
    margin: 0 auto;
    display: block;
  }

  .content table {
    width: 100%;
  }
