<h1>Le délai de confirmation est dépassé !</h1>

<p class="mt-4">
  Nous sommes désolés, le délai pour confirmer votre venue a malheureusement expiré, et nous avons dû contacter un autre volontaire.
</p>

<p>
  Pas d'inquiétude, vous restez dans notre liste de volontaires ! Vous serez contacté dès qu'une dose est à nouveau disponible près de chez vous.
</p>
