<h2>Nous avons bien pris en compte votre annulation</h2>

<p class="mt-4">
  Si vous souhaitez supprimer votre compte, veuillez d'abord vous connecter.
</p>

<%= link_to "Se connecter", "/login", class: "btn btn-primary" %>