.bg-theme {
  background: $purple1000;
}

.bg-gradient-theme {
  background: linear-gradient(90deg, $purple700, $purple1000);
}

.bg-gradient-theme-light {
  background: linear-gradient(
      210.69deg,
      rgba(255, 255, 255, 0.2) 11.38%,
      rgba(237, 226, 238, 0.5) 49.29%,
      rgba(199, 166, 201, 0.5) 81.38%
    ),
    #ede2ee;
}
