.hero-lp {
  h1,
  .h1 {
    @include font-size(4rem);
    line-height: 60px;
    max-width: 842px;
    margin-bottom: 0;

    @include media-breakpoint-down(sm) {
      line-height: 40px;
    }
  }

  h2,
  .h2 {
    @include font-size(1.8rem);
    line-height: 33px;
    max-width: 600px;

    @include media-breakpoint-down(sm) {
      line-height: 22px;
    }
  }

  hr {
    border-color: rgba(163, 160, 160, 0.2);
  }
}
