.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__above-footer {
    flex-grow: 1;
  }

  &__content {
    padding: 3rem 0;

    &--no-padding {
      padding: 0;
    }
  }

  &__footer {
  }
}
