.btn-share-button {
  font-size: 0.9rem;
  margin-bottom: 1rem;

  > :first-child {
    margin-right: 0.3rem;
  }

  &.twitter-share-button {
    background-color: #1da1f2;
    color: white;

    &:hover {
      background-color: #1277b5;
      color: white;
    }
  }

  &.facebook-share-button {
    background-color: #3b5998;
    color: white;

    &:hover {
      background-color: #3A5A97;
      color: white;
    }
  }
}
