$spinner-size: 40px;
.cl_spinner {
  display: inline-block;
  width: $spinner-size;
  height: $spinner-size;
}

.cl_spinner:after {
  content: " ";
  display: block;
  width: $spinner-size * 0.8;
  height: $spinner-size * 0.8;
  margin: $spinner-size * 0.1;
  border-radius: 50%;
  border: $spinner-size * 0.12 solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: cl_spinner 1.2s linear infinite;
}

@keyframes cl_spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
