<div>
  <p>
    Bonne nouvelle !
  </p>
  <p>
    Un vaccin est disponible près de chez vous. <br>
    Réservez-le vite en cliquant sur le lien suivant avant <%= @match.expires_at.strftime("%Hh%M") %> : <%= link_to "Je réserve mon vaccin", match_url(match_confirmation_token: @match_confirmation_token, source: 'email') %>
  </p>
  <p>
    Si le lien ne fonctionne pas, copiez et collez l’adresse suivante dans votre navigateur : <br>
    <%= match_url(match_confirmation_token: @match_confirmation_token, source: 'email') %>
  </p>

  <%= render "mailer/footer" %>
</div>