<div>
  <h2>
    Bonjour <%= @match.user %>,
  </h2>

  <p>
    Cette semaine, vous avez été mis en contact avec un centre de vaccination grâce à Covidliste. Nous en sommes très heureux et espérons que vous avez pu vous rendre au rendez-vous.
  </p>
  <p>
    Vous faites partie des premières personnes à avoir pu bénéficier de notre service et nous serions ravis de pouvoir recueillir votre témoignage. Si vous acceptez de nous partager votre expérience, merci de répondre à cet email.
  </p>
  <p>
    Par ailleurs, nous avons bien supprimé vos données comme indiqué précédemment. À des fins statistiques, comme prévu par nos CGU, des informations anonymisées ne permettant ni de vous identifier ni de vous contacter peuvent être conservées.
  </p>
  <p>
    Merci de nous avoir fait confiance,<br>
    Covidliste
  </p>

  <%= render 'mailer/footer' %>

</div>
