// Graphical variables
@import "config/index";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "bootstrap-select/dist/css/bootstrap-select.min";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "leaflet/dist/leaflet";

// Your CSS partials
@import "components/index";
@import "pages/index";

.mtop2 {
  margin-top: 20px;
}

.mtop6 {
  margin-top: 60px;
}

.pbot4 {
  padding-bottom: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.5);
}

nav .active > .nav-link,
nav .nav-item.active {
  color: rgba(0, 0, 0, 1);
}
