// Graphical variables
@import "config/index";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "bootstrap-select/dist/css/bootstrap-select.min";
@import "leaflet/dist/leaflet";
@import "leaflet.markercluster/dist/MarkerCluster";
@import "leaflet.markercluster/dist/MarkerCluster.Default";

// Your CSS partials
@import "components/index";
@import "pages/index";

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.5);
}

nav .active > .nav-link,
nav .nav-item.active {
  color: rgba(0, 0, 0, 1);
}
