// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


body {
  margin: 0;
  font-family: "Work Sans", "Helvetica", "sans-serif";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #0E0000;
  text-align: left;
  background-color: #FaFaFa;
}

.mtop2{
  margin-top: 20px;
}
