%p
  Bonjour #{@resource.full_name},

%p
  Vous venez de vous enregistrer sur CovidListe.
  Pour finaliser votre inscription, merci de cliquer sur le lien ci-dessous (ce lien reste valide pendant 24 heures, au-delà vous devrez refaire une demande de mail de confirmation)
  Vous allez également pouvoir choisir/modifier votre mot de passe afin d'accéder à votre espace sécurisé.

%p
  = link_to 'Validez votre inscription', confirmation_url(@resource, confirmation_token: @token)

= render 'mailer/footer'
