%p
  Bonjour #{@resource.full_name},

%p
  Vous avez fait une demande de changement de mot de passe. Veuillez cliquer sur le lien suivant pour le réinitialiser :

%p
  = link_to 'Créer/Changer de mot de passe', edit_password_url(@resource, reset_password_token: @token)

%p
  Si vous n'êtes pas à l’origine de cette demande, veuillez ignorer cet email

= render 'mailer/footer'
