<p>Bonjour,</p>

<p>Votre compte a été verrouillé en raison d'un nombre excessif de tentatives de connexion infructueuses.</p>

<p>Cliquez sur le lien ci-dessous pour déverrouiller votre compte :</p>

<p><%= link_to 'Déverrouiller mon compte', unlock_url(@resource, unlock_token: @token) %></p>

<%= render "mailer/footer" %>
<%= render "mailer/automatic_message" %>

