%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %a.navbar-brand{:href => "/"} Covidliste
  %button.navbar-toggler{"aria-controls" => "navbarNavDropdown", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNavDropdown", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarNavDropdown.collapse.navbar-collapse
    %ul.navbar-nav.ml-auto
      %li{class: (action_name == 'mentions_legales' ? 'nav-item active' : 'nav-item')}
        =link_to "Mentions Légales", :mentions_legales, class: 'nav-link'
      %li{class: (action_name == 'privacy' ? 'nav-item active' : 'nav-item')}
        =link_to "Protection des données", :privacy, class: 'nav-link'

