<button
  class="fixed-bottom btn btn-primary"
  data-controller="service-worker pwa"
  data-service-worker-path-value="<%= service_worker_path(format: :js)%>"
  data-action="beforeinstallprompt@window->pwa#configure"
>
  <em class="fas fa-download"></em> Installer l'application
</button>
