<!-- banner model to render in application layout if needed -->
<div class="bg-light">
  <div class="container py-2">
    <div class="d-flex align-items-center justify-content-center flex-column flex-md-row font-weight-light text-center">
      Dose de rappel: Covidliste vous trouve un vaccin rapidement ✅
    </div>
    <div class="d-flex align-items-center justify-content-center flex-column flex-md-row font-weight-light text-center">
      <%= link_to root_path(anchor: "new_user"), class: "text-decoration-underline text-primary mt-1 mt-md-0 ml-md-2" do %>
        Je m'inscris<%= icon("fas", "chevron-right", class: "ml-2") %>
      <% end %>
    </div>
  </div>
</div>
